@import "tailwindcss";

:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
  --select-bg: #ffffff; /* Light select background */
  --select-text: #171717; /* Dark text color for select */
  --option-bg: #f0f0f0; /* Light background for option */
  --option-text: #171717; /* Dark text color for option */
}

:root[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --select-bg: #333333; /* Dark select background */
  --select-text: #ffffff; /* Light text color for select */
  --option-bg: #444444; /* Dark background for option */
  --option-text: #ffffff; /* Light text color for option */
}

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

select {
  background-color: var(--select-bg);
  color: var(--select-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

option {
  background-color: var(--option-bg);
  color: var(--option-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
